.empty-state-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-state-wrapper .message {
    padding: 5px;
    font: var(--text-body-2);
    color: var(--text-medium-emphasis);
}

.empty-state-wrapper img {
    display: flex;
    margin: auto;
}