:root {
    /**
   Global variables 
  */

    /* Brand Color */
    --color-brand-n4: #002054;
    --color-brand-n3: #002a6e;
    --color-brand-n2: #003387;
    --color-brand-n1: #003da1;
    --color-brand-p0: #0047bb;
    --color-brand-p1: #2c70de;
    --color-brand-p2: #437ede;
    --color-brand-p3: #739ee5;
    --color-brand-p4: #90b4f0;
    --color-brand-p5: #abc7f5;
    --color-brand-p6: #ccdfff;
    --color-brand-p7: #e5efff;
    --color-brand-p8: #fafcff;

    /* Neutral Color */
    --color-neutral-n4: #1b242c;
    --color-neutral-n3: #272e35;
    --color-neutral-n2: #3a424a;
    --color-neutral-n1: #4a545e;
    --color-neutral-p0: #555f6d;
    --color-neutral-p1: #7e8b99;
    --color-neutral-p2: #9ea8b3;
    --color-neutral-p3: #cfd6dd;
    --color-neutral-p4: #dee3e7;
    --color-neutral-p5: #e9ecef;
    --color-neutral-p6: #f0f3f5;
    --color-neutral-p7: #f5f7f9;
    --color-neutral-p8: #fbfcfd;

    /* Red Color */
    --color-red-n4: #4a0d0d;
    --color-red-n3: #6f2020;
    --color-red-n2: #952d2d;
    --color-red-n1: #a13636;
    --color-red-p0: #c53434;
    --color-red-p1: #f26464;
    --color-red-p2: #f49090;
    --color-red-p3: #fccfcf;
    --color-red-p4: #fcd9d9;
    --color-red-p5: #fee6e6;
    --color-red-p6: #ffebeb;
    --color-red-p7: #fef5f5;
    --color-red-p8: #fffafa;

    /* Orange Color */
    --color-orange-n4: #482909;
    --color-orange-n3: #7a4510;
    --color-orange-n2: #a05c1c;
    --color-orange-n1: #b4610e;
    --color-orange-p0: #f59638;
    --color-orange-p1: #f6a351;
    --color-orange-p2: #feb872;
    --color-orange-p3: #ffd4a8;
    --color-orange-p4: #fcdec0;
    --color-orange-p5: #ffe8d1;
    --color-orange-p6: #fff0e0;
    --color-orange-p7: #fff5eb;
    --color-orange-p8: #fffcfa;

    /* Green Color */
    --color-green-n4: #062d1b;
    --color-green-n3: #0e4e30;
    --color-green-n2: #196742;
    --color-green-n1: #1e714a;
    --color-green-p0: #1d7c4d;
    --color-green-p1: #4aa578;
    --color-green-p2: #75cc9e;
    --color-green-p3: #c2ebd5;
    --color-green-p4: #c6f1da;
    --color-green-p5: #d8f8e7;
    --color-green-p6: #e6f9ef;
    --color-green-p7: #f4fbf7;
    --color-green-p8: #fbfefc;

    /* Surface color */
    --color-white: #fff;

    /**
   Semantic variables 
  */

    /* Content */
    --content-primary: var(--color-neutral-n3);
    --content-secondary: var(--color-neutral-p0);
    --content-tertiary: var(--color-neutral-p1);
    --content-disabled: var(--color-neutral-p2);

    /* Border */
    --border-primary: var(--color-neutral-p0);
    --border-secondary: var(--color-neutral-p3);
    --border-tertiary: var(--color-neutral-p5);

    /* Background */
    --background-white: var(--color-white);

    --background-neutral-default: var(--color-neutral-n3);
    --background-neutral-subtle: var(--color-neutral-p7);

    --background-positive-default: var(--color-green-p0);
    --background-positive-subtle: var(--color-green-p7);

    --background-negative-default: var(--color-red-p0);
    --background-negative-subtle: var(--color-red-p7);

    --background-warning-default: var(--color-orange-p0);
    --background-warning-subtle: var(--color-orange-p7);

    --background-informative-default: var(--color-brand-p0);
    --background-informative-subtle: var(--color-brand-p7);

    --background-brand-default: var(--color-brand-p0);
    --background-brand-subtle: var(--color-brand-p7);

    /* Action */
    --background-button-primary-default: var(--color-brand-p0);
    --background-button-primary-hover: var(--color-brand-n2);
    --background-button-primary-active: var(--color-brand-n3);
    --background-button-primary-disabled: var(--color-brand-n2);

    --background-button-inverted-default: var(--color-white);
    --background-button-inverted-hover: var(--color-neutral-p6);
    --background-button-inverted-active: var(--color-neutral-p4);
    --background-button-inverted-disabled: var(--color-neutral-p6);

    --background-button-ghost-default: var(--color-white);
    --background-button-ghost-hover: var(--color-neutral-p6);
    --background-button-ghost-active: var(--color-neutral-p4);
    --background-button-ghost-disabled: var(--color-white);

    --background-button-success-default: var(--color-green-p0);
    --background-button-success-hover: var(--color-green-n2);
    --background-button-success-active: var(--color-green-n3);
    --background-button-success-disabled: var(--color-green-n2);

    --background-button-destructive-default: var(--color-red-p0);
    --background-button-destructive-hover: var(--color-red-n2);
    --background-button-destructive-active: var(--color-red-n3);
    --background-button-destructive-disabled: var(--color-red-n2);

    /* Interaction */
    --background-interaction-neutral-default: var(--color-neutral-p7);
    --background-interaction-neutral-hover: var(--color-neutral-p6);
    --background-interaction-neutral-active: var(--color-white);
    --background-interaction-neutral-disabled: var(--color-neutral-p8);

    --background-interaction-neutral-inverted-default: var(--color-white);
    --background-interaction-neutral-inverted-hover: var(--color-neutral-p6);
    --background-interaction-neutral-inverted-active: var(--color-neutral-p4);
    --background-interaction-neutral-inverted-disabled: var(--color-neutral-p6);

    --border-interaction-neutral-default: var(--color-neutral-p4);
    --border-interaction-neutral-hover: var(--color-neutral-p3);
    --border-interaction-neutral-active: var(--color-neutral-p2);
    --border-interaction-neutral-disabled: var(--color-neutral-p4);

    --border-interaction-alert: var(--color-red-n1);

    --border-interaction-focus: var(--color-brand-p1);

    --action-primary-normal: var(--color-brand-p0);
}
