@use '@angular/material' as mat;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$paladin-indigo-palette: (
    50: #e6ecfa,
    100: #c1d0f2,
    200: #98b1ea,
    300: #6e91e1,
    400: #4f7ada,
    500: #3062d4,
    600: #2b5acf,
    700: #2450c9,
    800: #1e46c3,
    900: #1334b9,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);

$my-primary: mat.define-palette($paladin-indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

@include mat.core-theme($my-theme);
@include mat.checkbox-theme($my-theme);
