:root{

    --border-radius: 16px;
    
    --primary-100: #CCDAF1;
    --primary-200: #99B5E4;
    --primary-300: #6691D6;
    --primary-400: #336CC9;
    --primary-500: #0047BB;
    --primary-600: #003996;
    --primary-700: #002B70;
    --primary-800: #001C4B;
    --primary-900: #000E25;
   
    --secondary-100: #CCF1DC;
    --secondary-200: #99E2B9;
    --secondary-300: #66D495;
    --secondary-400: #33C572;
    --secondary-500: #00B74F;
    --secondary-600: #00923F;
    --secondary-700: #006E2F;
    --secondary-800: #004920;
    --secondary-900: #002510;
  

    --neutral-100: #F2F3F5;
    --neutral-200: #D8DDE3;
    --neutral-300: #C2C6CD;
    --neutral-400: #93979D;
    --neutral-500: #808287;
    --neutral-600: #696B70;
    --neutral-700: #595A5E;
    --neutral-800: #3F4043;
    --neutral-900: #232426;

    --border-100: #EDF2F7;
    --border-200: #DFE6EE;

    --icons-100: #CDD2D5;
    --icons-200: #9BA4AB;
    --icons-300: #687780;
    --icons-400: #364956;
    --icons-500: #041C2C;
    --icons-600: #031623;
    --icons-700: #02111A;
    --icons-800: #020B12;
    --icons-900: #010609;
    

    --spacing-xs: 2px;
    --spacing-sm: 4px;
    --spacing-md: 8px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;

    --text-high-emphasis: #1E2022;
    --text-low-emphasis: #515459;
    --text-medium-emphasis: #73777D;

    --background-white: #ffffff;
    --background-grey: #F2F3F5;
 

    --text-headline-1: 700 41px/100% var(--text-medium-font-family);
    --text-headline-2: 700 35px/100% var(--text-medium-font-family);
    --text-headline-3: 700 31px/140% var(--text-medium-font-family);
    --text-headline-4: 700 28px/140% var(--text-medium-font-family);
    --text-headline-5: 700 25px/140% var(--text-medium-font-family);
    --text-headline-6: 700 20px/140% var(--text-medium-font-family);

    --text-subtitle-1: 400 19px/140% var(--text-medium-font-family);
    --text-subtitle-2: 500 17px/140% var(--text-medium-font-family);
    --text-body-1: 400 normal 16px/140% var(--text-medium-font-family);
    --text-body-2: 500 normal 14px/140% var(--text-medium-font-family);
    --text-caption: 400 normal 12px/140% var(--text-medium-font-family);
    --text-overline: 500 11px/140% var(--text-medium-font-family);

    --text-font-weight: 500;
    --text-font-style: normal;
    --text-line-height: 140%;
    --text-font-family: mark-pro;
    --text-light-font-family: mark-pro-light;
    --text-extra-light-font-family: mark-pro-extra-light;
    --text-bold-font-family: mark-pro-bold;
    --text-black-font-family: mark-pro-black;
    --text-medium-font-family: mark-pro-medium;

    --text-body-1-font-size: 16px;
    --text-body-2-font-size: 14px;
    --text-subtitle-1-font-size: 19px;
    --text-subtitle-2-font-size: 17px;
    --text-caption-font-size: 12px;
    --text-overline-font-size: 11px;
    --text-headline-1-font-size: 41px;
    --text-headline-2-font-size: 35px;
    --text-headline-3-font-size: 31px;
    --text-headline-4-font-size: 28px;
    --text-headline-5-font-size: 25px;
    --text-headline-6-font-size: 20px;


}

