.chip {
    border-radius: 4px;
    font: var(--body-2);
    width: fit-content;
    padding: 4px 10px;
}

.customVariant {
    cursor: default;
    background-color: rgb(241, 246, 255);
    color: rgb(51, 108, 201);
    width: 100%;
    height: 35px;
}

.customVariant:hover {
    background-color: rgb(193, 196, 204);
}

.variant1 {
    background: #e6f5ec;
    color: var(--secondary-600);
}

.variant2 {
    background: var(--background-grey);
    color: var(--text-low-emphasis);
}

.variant3 {
    background: var(--border-100);
    color: #548be7;
}

::ng-deep .mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
}

::ng-deep .mat-standard-chip {
    border-radius: 4px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

::ng-deep .mat-chip {
    border-radius: 4px;
    font: var(--text-body-2);
    width: fit-content;
    padding: 4px 10px;
}

::ng-deep .mat-chip-remove.mat-icon {
    display: flex;
}

.hideDiv {
    display: none;
}

.warn {
    background: #feefea;
    color: #f58f6f;
}

.success {
    background: #e6f5ec;
    color: var(--secondary-600);
}

.error {
    color: #d95140;
    background: #fff1ef;
}
