<div class="header flex gap-8 body-1 high-emphasis">
    <img class="header-icon" src="/assets/icons/paladin-logo.svg" />
    <div class="header-text">
        {{ title }}
    </div>
</div>
<table class="keyvalue-table body-1 high-emphasis">
    <tbody>
        <tr class="keyvalue-parameter" *ngFor="let item of details | keyvalue">
            <td class="keyvalue-name" *ngIf="!isObject(item)">
                {{ item.key | proptitlecase }}
            </td>
            <td
                class="keyvalue-value"
                *ngIf="!isObject(item)"
                [appPropValueLink]="item.value"
                (innerNavigate)="navigateTo($event)"
            >
                {{ item.value }}
            </td>
        </tr>
    </tbody>
</table>
