.header-icon {
    font-size: var(--text-body-1-font-size);
    height: var(--text-body-1-font-size);
    width: var(--text-body-1-font-size);
}

.keyvalue-table {
    width: 100%;
}

.keyvalue-table td {
    padding: 8px 8px 8px 0;
}

.keyvalue-name {
    width: 20%;
}
