<div class="user-management-page-wrapper">
    <div class="page-header">
        <app-text classNames="headline-6 medium-emphasis" [text]="pageTitle"></app-text>
        <app-custom-button buttonType="flat" [label]="'Add User'"
        (click)="createEditUser(false)">
    </app-custom-button>
    </div>
    <div class="data-table-container">
        <section>
            <ul>
                <li class="widget-wrapper relative">
                    <div class="relative">
                        <app-table style="height: 100%; width: 100%;" [data]="tableData" [columnWidths]="columnWidths"
                            [headerColName]="headerColName" [direction]="direction" (headerColNameSelected)="handleHeaderColNameSelection($event)"
                            (actionSelected)="onSelectAction($event)" [doLocalSearch]="true"
                            [whiteListColumns]="whiteListColumns" (searchCalledEventEmitter)="callNewSearch($event)"
                            [searchQuery]="searchTxt" [showSearchBar]="true" [showMoreMenu]="true"
                            [showDownloadBtn]="false" [showFilterBtn]="true"
                            [totalRows]="totalRows" [tableScrollTop]="tableScrollTop" [tableDataLoaded]="tableDataLoaded"
                            [rowClickable]="false" [tableErrorMessage]="errorMessage"
                            (selectedFilterType)='changeFilterType($event)'
                            (selectedFilter)="changeFilterTags($event)" [filteredArray]="filters" [filterTypeLabels]="filterTypeLabels"
                            [filterTagLabels]="filterTagLabels" (deleteFilters)="deleteFilters($event)" [filterTypeOptions]="filterTypeOptions"
                            (whitelistColumnsChanged)="handleWhitelistColumnsChange($event)" [showAddRemoveCol]="true">
                        </app-table>
                        <div class="data-table-desc">{{dataTableDesc}}</div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>


<ng-template #createEditUserRef>
    <div class="dialog-body">
        <div [class.isDisabled]="action=='Edit'">
            <mat-form-field appearance="outline" class="email-wrapper" [formControl]="emailControl">
                <mat-label>Email ID</mat-label>
                <input autocomplete="off" matInput required
                    [(ngModel)]="emailID">
            </mat-form-field>
            <div class="flex flex-align-center gap-12" *ngIf="action!='Edit'">
                <mat-form-field appearance="outline" class="email-wrapper" [formControl]="firstNameControl">
                    <mat-label>First Name</mat-label>
                    <input autocomplete="off" matInput required
                        [(ngModel)]="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="email-wrapper" [formControl]="lastNameControl">
                    <mat-label>Last Name</mat-label>
                    <input autocomplete="off" matInput required
                        [(ngModel)]="lastName">
                </mat-form-field>
            </div>
        </div>
        <app-dropdown [items]="userRoles" placeholder="Role" [isChipListEnabled]="true" 
        [nonRemovableChips]="nonRemovableChips" [selectedList]="selectedRoles" [disableOptions]=true
        (applyClick)="onRolesChange($event)" (selected)="onRolesChange($event)"></app-dropdown>
    </div>
</ng-template>

<ng-template #actionRef>
    <div class="dialog-body">
       <span class="dialog-body-header">{{action}} User</span>
       <span class="dialog-body-content">Are you really sure you want to {{action.toLowerCase()}} "{{emailID}}"?</span>
    </div>
</ng-template>