<div class="dialog-box">
  <div mat-dialog-title [class.hide]="data.title == null">
    <app-text classNames="body-2 high-emphasis" [text]="data.title"></app-text>
      <img src="../assets/icons/x-icon.svg" (click)=onNoClick()>
  </div>
  <div mat-dialog-content class="content">
  <ng-container [ngTemplateOutlet]="data.template"></ng-container>
  </div>
  <div mat-dialog-actions>
    <app-custom-button *ngIf="data.yesButtonLabel" buttonType="flat" [label]="data.yesButtonLabel"
    (click)="onYesClick()" [mat-dialog-close]="" cdkFocusInitial></app-custom-button>
    <app-custom-button *ngIf="data.noButtonLabel" buttonType="stroked"
      [label]="data.noButtonLabel" (click)="onNoClick()"></app-custom-button>
  </div>
</div>