<div class="dialog-box">
  <div mat-dialog-title [class.hide]="data.title == null">
    <app-text classNames="body-2 high-emphasis" [text]="data.title"></app-text>
      <img class="x-icon" src="../assets/icons/x-icon.svg" (click)=onNoClick($event)>
  </div>
  <div mat-dialog-content class="content">
  <ng-container [ngTemplateOutlet]="data.template"></ng-container>
  </div>
  <div mat-dialog-actions *ngIf="data.yesButtonLabel || data.noButtonLabel">
    <app-custom-button *ngIf="data.yesButtonLabel" buttonType="flat" [disabled]="data.formGroup?.invalid" [label]="data.yesButtonLabel"
      (onclick)="onYesClick($event)" cdkFocusInitial></app-custom-button>
    <app-custom-button *ngIf="data.noButtonLabel" buttonType="stroked"
      [label]="data.noButtonLabel" (onclick)="onNoClick($event)"></app-custom-button>
  </div>
</div>