.table-filter-item {
    padding: 4px 12px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 16px;
}

.table-filter-item .tfi-value {
    font-weight: bold;
    color: black;
}

.table-filter-item .tfi-close-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    font-size: 16px;
}

.table-filter-item .tfi-close-icon:hover {
    cursor: pointer;
}
