.table-filter-chip {
    padding: 3px 8px 3px 12px;
    gap: 6px;
    border: 1px solid #cfd6dd;
    border-radius: 6px;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 0 1px 2px 0 #1B242C1F;
}

.table-filter-chip .tfc-text-container:hover {
    cursor: pointer;
}

.table-filter-chip .tfc-text-container .tfc-value {
    font-weight: bold;
    color: #272e35;
}

.table-filter-chip .tfc-close-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
}

.table-filter-chip .tfc-close-icon:hover {
    cursor: pointer;
}

.filter-chip-menu {
    background: white;
}
