:host {
    display: flex;
}

.filters-menu-btn {
    padding: 3px 8px;
    border: 1px dashed #cbcbcb;
    background: transparent;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    color: #1e2022;
}

.filters-menu-btn:hover {
    cursor: pointer;
}

.filters-menu-btn .fmb-icon {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 11px;
}

.filters-menu-container {
    max-height: 336px;
    background: white;
    border: 1px solid rgba(16 40 72 / 9%);
    border-radius: 6px;
    box-shadow: 0 2px 2px -1px rgba(27 35 44 / 4%), 0 8px 16px -2px rgba(27 36 44 / 12%);
}

.filters-category-menu {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--text-font-family);
    overflow-y: auto;
}

.filters-category-menu .fcm-item {
    padding: 6px 8px 6px 16px;
    color: #272e35;
}

.filters-category-menu .fcm-item:hover {
    cursor: pointer;
    background: rgba(2 47 82 / 6%);
}
