<div class="applied-filters-container flex flex-align-center flex-wrap gap-16">
    <app-table-filter-chip
        *ngFor="let appliedFilter of appliedFilters; trackBy: trackByAppliedFilter"
        [category]="appliedFilter.keyDisplayValue"
        [appliedFiltersDict]="appliedFiltersDict[appliedFilter.keyDisplayValue]"
        [filterValues]="categoryOptions[appliedFilter.keyDisplayValue]"
        (clearFilter)="clearFilter($event)"
        (updateFilter)="updateFilter($event)"
    ></app-table-filter-chip>

    <button
        type="button"
        class="filters-menu-btn flex flex-align-center"
        (click)="openMenu()"
        cdkOverlayOrigin
        #filterMenuBtn="cdkOverlayOrigin"
    >
        <mat-icon class="fmb-icon">add</mat-icon>
        Filters
    </button>
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="filterMenuBtn"
    [cdkConnectedOverlayOpen]="isFilterMenuOpen"
    (overlayOutsideClick)="isFilterMenuOpen = false"
    (overlayKeydown)="overlayKeyDown($event)"
    [cdkConnectedOverlayOffsetY]="filterMenuOffsetY"
>
    <div class="filters-menu-container flex flex-col">
        <ng-container *ngIf="!isFilterSubCategoryOpen">
            <app-table-filter-search [(text)]="categoryFilterQuery"></app-table-filter-search>
            <ul class="filters-category-menu">
                <li
                    *ngFor="let category of filterCategoryByQuery()"
                    class="fcm-item"
                    (click)="openFilterCategory(category)"
                >
                    {{ category }}
                </li>
            </ul>
        </ng-container>

        <ng-container *ngIf="isFilterSubCategoryOpen">
            <app-table-filter-search [(text)]="categoryChildFilterQuery"></app-table-filter-search>
            <ul class="filters-category-menu">
                <li
                    *ngFor="let childFilter of filterSelectedCategoryChildrenByQuery()"
                    class="fcm-item"
                >
                    <mat-checkbox
                        [checked]="appliedFiltersDict[selectedFilterCategory][childFilter]"
                        (change)="applyFilter(childFilter, $event)"
                    >
                        {{ childFilter }}
                    </mat-checkbox>
                </li>
            </ul>
        </ng-container>
    </div>
</ng-template>
