:host {
    display: flex;
}

.filters-menu-btn {
    padding: 4px 8px;
    border: 1px dashed #cbcbcb;
    background: transparent;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    color: #1e2022;
}

.filters-menu-btn:hover {
    cursor: pointer;
}

.filters-menu-btn .fmb-icon {
    margin-right: 4px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 11px;
}

.filters-category-menu {
    background: white;
    border-radius: 8px;
    padding: 16px;
}

.filters-category-menu > li {
    font-size: 16px;
}

.filters-category-menu > li:not(:last-of-type) {
    margin-bottom: 16px;
}
