<div class="account-management-page-wrapper">
    <div class="page-header">
        <app-text classNames="headline-6 medium-emphasis" [text]="pageTitle"></app-text>
        <button class="button btn" (click)="createAccount()">Add Plugin</button>
    </div>
    <div class="data-table-container">
        <section>
            <ul>
                <li class="widget-wrapper relative">
                    <div class="relative">
                        <app-table
                            [data]="tableData"
                            [columnWidths]="columnWidths"
                            (rowSelectEventEmitter)="handleRowClick($event)"
                            [headerColName]="headerColName"
                            [direction]="direction"
                            (actionSelected)="goToDetails($event)"
                            [doLocalSearch]="false"
                            [doLocalSort]="false"
                            [whiteListColumns]="whiteListColumns"
                            (searchCalledEventEmitter)="callNewSearch($event)"
                            [searchQuery]="searchTxt"
                            [showSearchBar]="false"
                            [showMoreMenu]="true"
                            [showAddRemoveCol]="true"
                            [showDownloadBtn]="false"
                            [showFilterBtn]="true"
                            (selectedFilterType)="changeFilterType($event)"
                            (selectedFilter)="changeFilterTags($event)"
                            [filteredArray]="filters"
                            [filterTypeLabels]="filterTypeLabels"
                            [filterTagLabels]="filterTagLabels"
                            (deleteFilters)="deleteFilters($event)"
                            [filterTypeOptions]="filterTypeOptions"
                            [totalRows]="totalRows"
                            [tableScrollTop]="tableScrollTop"
                            [tableDataLoaded]="tableDataLoaded"
                            [tableErrorMessage]="errorMessage"
                            [rowClickable]="true"
                            [rowSize]="'SM'"
                            [centeredColumns]="centeredColumns"
                            (headerColNameSelected)="handleHeaderColNameSelection($event)"
                            (whitelistColumnsChanged)="handleWhitelistColumnsChange($event)"
                            [selectedRowIndex]="selectedRowIndex"
                            [onScrollDataLoader]="onScrollDataLoader"
                            (nextPageCalled)="nextPg($event)"
                            [columnsAndFiltersToExcludeFromCasing]="
                                columnsAndFiltersToExcludeFromCasing
                            "
                            [dateCategoryList]="dateCategoryList"
                            [enableMultiValuedFilter]="true"
                        >
                        </app-table>
                        <div class="data-table-desc">{{ dataTableDesc }}</div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
