<div class="account-management-page-wrapper">
    <div class="page-header">
        <h6>{{pageTitle}}</h6>
       <button class="button btn"
        (click)="createAccount()">Add Account</button>
    </div>
    <div class="data-table-container">
        <section>
            <ul>
                <li class="widget-wrapper relative">
                    <div class="relative">
                        <app-table style="height: 100%; width: 100%;" [data]="tableData" [columnWidths]="columnWidths"
                            [headerColName]="headerColName" [direction]="direction" (actionSelected)="goToDetails($event)"
                            [doLocalSearch]="true" [whiteListColumns]="whiteListColumns" (searchCalledEventEmitter)="callNewSearch($event)"
                            [searchQuery]="searchTxt" [showSearchBar]="true" [showMoreMenu]="true" [showAddRemoveCol]="true"
                            [showDownloadBtn]="false" [showFilterBtn]="true" (selectedFilterType)='changeFilterType($event)'
                            (selectedFilter)="changeFilterTags($event)" [filteredArray]="filters" [filterTypeLabels]="filterTypeLabels"
                             [filterTagLabels]="filterTagLabels" (deleteFilters)="deleteFilters($event)" [filterTypeOptions]="filterTypeOptions"
                             [totalRows]="totalRows" [tableScrollTop]="tableScrollTop" [tableDataLoaded]="true" [tableErrorMessage]="errorMessage"
                            [rowClickable]="false" [rowSize]="'SM'" (headerColNameSelected)="handleHeaderColNameSelection($event)">
                        </app-table>
                        <div class="data-table-desc">{{dataTableDesc}}</div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
