<mat-card class="date-selection-card" (click)="$event.stopPropagation()">
    <mat-card-content class="date-selection-content">
        <mat-calendar
            [maxDate]="today"
            [selected]="selectedRange"
            (selectedChange)="selectedDateChange($event)"
        ></mat-calendar>
    </mat-card-content>
    <mat-card-actions class="date-selection-actions">
        <button
            class="apply-btn"
            type="button"
            [disabled]="selectedRange?.end <= selectedRange?.start"
            (click)="customDateSelected()"
        >
            Apply
        </button>
    </mat-card-actions>
</mat-card>
