.error-page {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(204, 220, 236) 0%, transparent 40%, white 80%);
    background-size: closest-side 10%, 50% 100%;
}

.error-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 132px);
}

.text-wrapper {
    color: var(--content-primary);
    font-weight: 400;
}

.subtext-wrapper {
    font: var(--text-subtitle-1);
    color: var(--content-secondary);
}

.error-text {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.error-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-wrapper {
    justify-content: center;
    gap: 16px;
}

.home-btn {
    color: white;
    border: 1px solid var(--primary-400);
    border-radius: var(--radius-xs);
    border: 1px solid var(--brand-0);
    background: var(--action-primary-normal);
    box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
}

.contact-btn {
    color: var(--text-high-emphasis);
    background-color: var(--background-white);
    border-radius: var(--radius-xs);
    border: 1px solid var(--border-normal);
    box-shadow: 0px 1px 2px 0px rgba(27, 36, 44, 0.12);
}

.img-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}
