
<app-custom-card
    [card]="card"
    [fromDate]="fromDate"
    [minDate]="minDate"
    [selectedItem]="graphInterval"
    (graphIntervalSelected)="getAssetsCountData($event)"
    [showDateDropdown]="true"
    [filters]="assetTypeFilters"
    (filterChange)="onFilterChange($event)"
    (onChipDropdownClose)="onChipDropdownClose()"
>   
    <div [class.loader]="assetsTrendData.length==0 && assetsTrendError==''"></div>
    <app-error-message *ngIf="assetsTrendError" [selectedValue]="assetsTrendError"></app-error-message>
    <app-multiline-zoom-graph
        *ngIf="assetsTrendData.length !== 0 && assetsTrendError === ''"
        [id]="'AssetsSummaryTrend'"
        [showLegend]="true"
        [yAxisLabel]="'Count'"
        [graphHeight]="graphHeight"
        [graphLinesData]="assetsTrendData"
    >
    </app-multiline-zoom-graph>
</app-custom-card>
