
.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.high-emphasis{
    color: var(--text-high-emphasis);
}

.sub-text{
    font: var(--text-body-1);
    color: var(--text-medium-emphasis);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.left-wrapper{
    border-right: 2px solid var(--border-200);
    padding-right: 24px;
    height: 100%;
    width: 21%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 16px;
    font: var(--text-body-2);
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
  }

.right-wrapper{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100%;
    border: 2px solid var(--border-200);
    border-radius: 8px;
    background-color: var(--background-white);
}

.content-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DEE3E7;
    padding: 10px 24px;
    gap: 4px;
}

.h6{
    color: var(--text-high-emphasis);
}

.sub-text{
    color: var(--text-low-emphasis);
}

.redhat-video-wrapper{
    flex-direction: row !important;
}

.video-thumbnail-wrapper {
    position: relative;
    display: inline-block;
    height: 20.9%;
    width: 300px;
    min-height: 161px;
}

.video-thumbnail{
    border-radius: 8px;
    height: 20.9%;
    min-height: 161px;
    display: block;
    width: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.play-button .icon {
    cursor: pointer;
    color: white; /* Optional: Set the color of the play button icon */
    font-size: 24px; /* Optional: Adjust the size of the play button icon */
}

::ng-deep .video-dialog .mat-dialog-content{
    padding: 0px;
}

.configuration-header{
    display: flex;
    gap: 12px;
    align-items: center;
}

.configuration-body{
    height: calc(100% - 52px);
    overflow: auto;
}

.header{
    border-bottom: 1px solid #DEE3E7;
    padding: 16px 24px;
}

.error-state{
    border: 1px solid red;
}
/* img{
    padding: 7px;
    border: 0.5px solid var(--border-200);
    border-radius: 4px;
} */

.download-template{
    padding: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #F1F6FF;
    border-radius: 4px;
}

.download-icon{
    width: 32px;
    height: 32px;
    padding: 7px 5px;
    background-color: #DEEAFF;
    border-radius: 36px;
}

.steps-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 12px;  
    gap: 12px;
}

.step-wrapper{
    display: flex;
    gap: 40px;
}

.hideDiv{
    opacity: 0;
}

.validation-inner-wrapper{
    height: 100%;
    display: flex;
    gap: 24px;
    min-height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validation-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 36px);
  background-color: var(--background-white);
  border-radius: 8px;
}

.validation-image-wrapper{
    display: flex;
    gap: 32px;
}

.validation-text-wrapper{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validate-cloud-img{
    height: 88px;
    padding: 12px;
    width: 88px;
    border-radius: 4px;
    border: 1px solid var(--border-200);
}

/* .hidden{
    display: none;
} */

.btn{
    color: white;
    background: var(--primary-400);
  }

.cancel-btn{
    color: var(--primary-400);
    border: 1px solid;
    background-color: var(--background-white);
}

.back-btn{
    color: var(--primary-400);
    border: none;
    background-color: var(--background-white);
}


.tile{
    padding: 16px;
    gap: 16px;
    width: 252px;
    height: 200px;
    align-items: center;
    border: 1px solid var(--border-200);
    border-radius: 8px;
}

.tile-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    gap: 2px;
}

.tile-wrapper{
    padding-top: 24px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: calc(100% - 80px);
    overflow: auto;
}

.configure-wrapper{
    height: 100%;
    padding: 16px 20px;
    overflow: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.script-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.copy-icon{
    padding: 13px;
    background-color: #EDF2FA;
}

.script-text{
    height: 42px;
    width: 100%;
    background-color: #F7F8FA;
    border: 1px solid var(--border-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
}

.page-content{
    height: calc(100% - 36px);
    min-width: 800px;
    border-radius: 8px;
    background: none !important;
    padding: 0px !important;
}

::ng-deep .stepper app-stepper .mat-stepper-vertical{
    background: none !important;
}

.stepper{
    padding: 20px 0px;
}

.button-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 1px solid var(--border-200);
  }

  .validation-sub-text
  {
      font: var(--text-body-2);
      color: var(--text-low-emphasis);
      display: flex;
      text-align: center;
  }

.review-wrapper{
    height: calc(100% - 56px);
    padding-right: 24px;
    overflow: auto;
}

.account-img{
    height: 48px;
    width: 48px;
    padding: 9px;
    border: 0.5px solid var(--border-200);
    border-radius: 24px;
}

.cloud-header{
    height: 32px;
    width: 32px;
    padding: 7px;
    border: 0.5px solid var(--border-200);
    border-radius: 4px;
    background-color: var(--background-neutral-subtle);
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .input-wrapper ::ng-deep .mat-form-field-label{
     padding: 5px 5px !important;
  }

  .right-wrapper ::ng-deep .mat-select-trigger{
    height: 30px !important;
  }

  .right-wrapper ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    width: auto !important;
    padding: 3px 8px !important;
    font: var(--text-body-1);
    color: var(--text-low-emphasis);
    display: block !important;
  }
  
  .right-wrapper ::ng-deep .mat-form-field-label{
    padding: 3px 8px !important;
    background: var(--background-white);
    color: var(--text-low-emphasis);
  }

  .subtext{
      font: var(--text-body-1);
      color: var(--text-medium-emphasis);
  }

  .configuration-body ::ng-deep .mat-form-field-wrapper{
    padding: 0px !important;
  }

  .index-wrapper {
      white-space: nowrap;
  }

  .details-wrapper{
      height: 100%;
      padding: 16px 20px;
  }

  .details-wrapper ::ng-deep .mat-form-field{
    width: 100% !important;
  }

  .gap-20{
      gap: 20px;
  }

.key-wrapper{
    min-width: 230px;
    font: var(--text-body-1);
    color: var(--text-low-emphasis);
    white-space: nowrap;
}

.value-wrapper{
    font: var(--text-body-1);
    color: var(--text-high-emphasis);
    word-break: break-all;
}

.btnDisabled{
    opacity: 40%;
    pointer-events: none;
}

.select-account{
    height: calc(100% - 36px);
    padding: 40px;
    background: white;
}

.details-header, .configure-header{
    font: var(--text-body-2);
    color: var(--text-medium-emphasis);
}

.configure-access-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    border-top: 1px solid var(--border-200);
}

.account-details-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.info-text{
   font: var(--text-headline-6);
   color: var(--text-high-emphasis);
}

.supporting-info-text{
    font: var(--text-body-2);
    color: var(--text-low-emphasis);
}

.close-icon{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.info-wrapper{
    padding-top: 16px;
}

.supporting-info-text a {
    color: #003DA1;
  }

.connector-container{
    height: 100%;
    overflow: auto;
    padding-right: 24px;
}

.commands-container{
    border-radius: 12px;
    /* max-width: 750px; */
}

.commands-header-container{
    border-radius: 12px 12px 0 0;
    background-color: #fcfcfd;
    padding: 8px 16px;
    border-bottom: 1px solid var(--border-200);
}

.commands-number-container{
    border-right: 1px solid var(--border-200); 
    background-color: #fcfcfd;
    padding: 16px 24px;
    border-radius: 0 0 0 12px;
}

.commands-body-container{
    font: 500 16px/130% 'roboto-mono-medium';
}

.commands-body-wrapper{
    padding: 16px 24px;
}

.commands-body-container ul li{
    padding-bottom: 8px;
}

.note-container{
    border-radius: 6px;
    border: 1px solid #CFD6DD;
    background-color: #F5F7F9;
}

.command-service-name{
    color: crimson;
}

.copy-button button{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 16px 5px 12px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--border-200);
}

::ng-deep .mat-button-wrapper{
    display: flex;
    gap: 8px;
}