:host {
    width: 100%;
    height: 100%;
    min-width: 160px;
    border-radius: 8px;
    background: var(--background-white);
}

.violations-card {
    justify-content: center;
    padding: 20px 16px;
    border-radius: 8px;
    gap: 8px;
}

.violations-content {
    gap: 8px;
    overflow: hidden;
}

.violations-content-container {
    gap: 16px;
}

.violations-img {
    min-width: 32px;
}

.violations-content .violations-title {
    color: var(--text-high-emphasis);
    font: var(--text-body-2);
}

.violations-content .violations-count {
    color: var(--primary-400);
    font: var(--text-headline-3);
    cursor: pointer;
}

.violations-content .violations-count img {
    padding-bottom: 4px;
    filter: invert(46%) sepia(3%) saturate(1769%) hue-rotate(159deg) brightness(96%) contrast(85%);
}

.violations-card-divier {
    color: var(--border-200);
}

.violations-info-container {
    justify-content: space-between;
}

.violations-info-item {
    gap: 8px;
    overflow: hidden;
}

.violations-info-item .name {
    font: var(--text-caption);
    font-family: var(--text-light-font-family);
    color: var(--text-medium-emphasis);
}

.violations-info-item .count {
    font: var(--text-headline-6);
    color: var(--text-medium-emphasis);
}

