<div
    class="asset-list-wrapper flex flex-col padding-28"
>
    <div *ngIf="backButtonRequired" class="breadcrumb-container">
        <app-breadcrumb
            *ngIf="breadcrumbLinks.length > 0"
            [breadcrumbLinks]="breadcrumbLinks"
            [breadcrumbArray]="breadcrumbArray"
            [breadcrumbPresent]="pageTitle"
        ></app-breadcrumb>
    </div>
    <div class="assets-header flex">
        <div class="flex flex-align-center">
            <span class="title">{{ pageTitle }}</span>
        </div>
    </div>
    <div class="table-wrapper">
        <app-table
            [columnsSortFunctionMap]="columnsSortFunctionMap"
            [columnWidths]="columnWidths"
            [data]="tableData"
            [direction]="direction"
            [filteredArray]="filters"
            [filterTagLabels]="filterTagLabels"
            [filterTypeLabels]="filterTypeLabels"
            [filterTypeOptions]="filterTypeOptions"
            [headerColName]="headerColName"
            [onScrollDataLoader]="onScrollDataLoader"
            [rowSize]="'SM'"
            [searchQuery]="searchTxt"
            [showAddRemoveCol]="true"
            [showDownloadBtn]="showDownloadBtn"
            [showFilterBtn]="showFilterBtn"
            [showSearchBar]="true"
            [tableDataLoaded]="tableDataLoaded"
            [tableErrorMessage]="tableErrorMessage"
            [tableScrollTop]="tableScrollTop"
            [totalRows]="totalRows"
            [whiteListColumns]="whiteListColumns"
            [selectedRowId]="selectedRowId"
            [idColumn]="'Asset ID'"
            [enableMultiValuedFilter]="isMultiValuedFilterEnabled"
            [columnsAndFiltersToExcludeFromCasing]="columnsToExcludeFromCasing"
            [doLocalSort]="false"
            (deleteFilters)="deleteFilters($event)"
            (downloadClicked)="handlePopClick($event)"
            (headerColNameSelected)="handleHeaderColNameSelection($event)"
            (nextPageCalled)="nextPg($event)"
            (rowSelectEventEmitter)="goToDetails($event)"
            (searchCalledEventEmitter)="callNewSearch($event)"
            (selectedFilter)="changeFilterTags($event)"
            (selectedFilterType)="changeFilterType($event)"
            (whitelistColumnsChanged)="handleWhitelistColumnsChange($event)"
            (filterSearchTextChange)="handleFilterSearchTextChange($event)"
        ></app-table>
    </div>
</div>
