.notifications-wrapper {
    height: 100%;
}

.table-wrapper {
    position: relative;
    height: calc(100% - 62px);
}

.title {
    font-size: 2em;
    font-family: var(--text-font-family);
    font-weight: 500;
}
