<div class="notifications-wrapper flex flex-col">
    <app-page-title [title]="pageTitle"></app-page-title>
    <div class="table-wrapper">
        <app-table
            style="height: 100%; width: 100%"
            [centeredColumns]="centeredColumns"
            [columnWidths]="columnWidths"
            [data]="tableData"
            [direction]="direction"
            [doLocalFilter]="false"
            [doLocalSearch]="false"
            [filteredArray]="filters"
            [filterTagLabels]="filterTagLabels"
            [filterTypeLabels]="filterTypeLabels"
            [filterTypeOptions]="filterTypeOptions"
            [headerColName]="headerColName"
            [onScrollDataLoader]="onScrollDataLoader"
            [rowClickable]="true"
            [rowSize]="'SM'"
            [searchQuery]="searchTxt"
            [selectedRowIndex]="selectedRowIndex"
            [showAddRemoveCol]="true"
            [showDownloadBtn]="true"
            [showFilterBtn]="true"
            [showMoreMenu]="true"
            [showSearchBar]="true"
            [tableDataLoaded]="tableDataLoaded"
            [tableErrorMessage]="tableErrorMessage"
            [tableScrollTop]="tableScrollTop"
            [totalRows]="totalRows"
            [whiteListColumns]="whiteListColumns"
            (deleteFilters)="deleteFilters($event)"
            (downloadClicked)="handlePopClick($event)"
            (headerColNameSelected)="handleHeaderColNameSelection($event)"
            (nextPageCalled)="nextPg($event)"
            (rowSelectEventEmitter)="goToDetails($event)"
            (searchCalledEventEmitter)="callNewSearch($event)"
            (selectedFilter)="changeFilterTags($event)"
            (selectedFilterType)="changeFilterType($event)"
            (whitelistColumnsChanged)="handleWhitelistColumnsChange($event)"
        >
        </app-table>
    </div>
</div>
