.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  }
  
.sub-text{
    font: var(--text-body-1);
    color: var(--text-medium-emphasis);
    order: 1;
    flex-grow: 0;
}
    
.step-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stepper-right-wrapper ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  width: auto !important;
  padding: 3px 8px !important;
  font: var(--text-body-1);
  color: var(--text-low-emphasis);
  display: block !important;
}

.stepper-right-wrapper ::ng-deep .mat-form-field-label{
  padding: 7px 8px !important;
  background: var(--background-white);
  color: var(--text-low-emphasis);
}

.stepper-right-wrapper ::ng-deep .mat-select-trigger{
  height: 30px !important;
  z-index: 100;
}

.header-wrapper{
  display: flex;
  width: 90%;
  max-width: 500px;
}

.attributes-wrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}

.attribute-header{
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
  width: 50%;
}

.attribute-wrapper ::ng-deep .dropdown-wrapper{
  padding: 0px !important;
}

.attribute-wrapper{
  display: flex;
  border-left: 1px solid var(--primary-400);
}