<div class="notification-details component-wrapper flex flex-col gap-20 padding-28">
    <div class="header flex flex-col gap-24">
        <div *ngIf="backButtonRequired" class="breadcrumb-container">
            <app-breadcrumb
                *ngIf="breadcrumbLinks.length"
                [breadcrumbArray]="breadcrumbArray"
                [breadcrumbLinks]="breadcrumbLinks"
                [breadcrumbPresent]="breadcrumbPresent"
            ></app-breadcrumb>
        </div>
    </div>
    <div class="content-wrapper padding-24 flex flex-col gap-24">
        <!-- NOTIFICATION SWITCH -->
        <div [ngSwitch]="notificationlayoutType">
            <!-- REDHAT ACS -->
            <app-redhat-acs-notification
                *ngSwitchCase="LAYOUTTYPE.REDHAT_ACS"
                [title]="eventName"
                [details]="notificationDetails"
            ></app-redhat-acs-notification>
            <!--./REDHAT ACS -->

            <!-- AWS ISSUE -->
            <app-aws-issue-notification
                *ngSwitchCase="LAYOUTTYPE.AWS_ISSUE"
                [details]="notificationDetails"
                [title]="eventName"
            ></app-aws-issue-notification>
            <!--./AWS ISSUE -->

            <!-- VIOLATION -->
            <app-paladincloud-violation-notification
                *ngSwitchCase="LAYOUTTYPE.PALADINCLOUD_VIOLATION"
                [details]="notificationDetails"
                [title]="eventName"
                (navigateTo)="navigateTo($event)"
            >
            </app-paladincloud-violation-notification>
            <!--./VIOLATION -->

            <!-- KEY VALUE -->
            <app-keyvalue-notification
                *ngSwitchCase="LAYOUTTYPE.KEYVALUE"
                [details]="notificationDetails"
                [title]="eventName"
            ></app-keyvalue-notification>

            <!-- JSON -->
            <app-json-notification
                *ngSwitchDefault
                [details]="notificationDetails"
                [title]="eventName"
            >
            </app-json-notification>
            <!-- JSON -->
        </div>
        <!--./NOTIFICATION SWITCH -->
    </div>
</div>
