.component-wrapper{
    overflow-y: scroll;
}

.content-wrapper{
    height: 100%;
    min-height: 500px;
    background-color: white;
}

.grid-table{
    display: table;
    border: 1px solid var(--border-200);
    border-radius: 4px;
    max-width: 800px;
}

.row{
    padding: 0 20px;
}

.border-bottom{
    border-bottom: 1px solid var(--border-100);
}

.row-wrapper{
    padding: 20px 0;
}

.cell{
    min-width: 200px;
    display: table-cell;
}

.description{
    font: var(--text-body-1);
    color: var(--text-high-emphasis);
}