<div class="notification-details component-wrapper flex flex-col gap-20 padding-28">
    <div class="header flex flex-col gap-24">
        <div *ngIf="backButtonRequired" class="breadcrumb-container">
            <app-breadcrumb
                *ngIf="breadcrumbLinks.length"
                [breadcrumbArray]="breadcrumbArray"
                [breadcrumbLinks]="breadcrumbLinks"
                [breadcrumbPresent]="breadcrumbPresent"
            ></app-breadcrumb>
        </div>
    </div>
    <div class="content-wrapper padding-24 flex flex-col gap-24">
        <div class="header flex flex-col gap-8">
            <app-text text="Summary" classNames="body-2 low-emphasis"></app-text>
            <div class="flex">
                <app-text [text]="eventName" classNames="body-1 high-emphasis"></app-text>
            </div>
        </div>

        <!-- NOTIFICATION SWITCH -->
        <div [ngSwitch]="notificationlayoutType">
            <!-- REDHAT ACS -->
            <app-redhat-acs-notification
                *ngSwitchCase="LAYOUTTYPE.REDHAT_ACS"
            ></app-redhat-acs-notification>
            <!--./REDHAT ACS -->

            <!-- AWS ISSUE -->
            <app-aws-issue-notification
                *ngSwitchCase="LAYOUTTYPE.AWS_ISSUE"
                [details]="notificationDetails"
            ></app-aws-issue-notification>
            <!--./AWS ISSUE -->

            <!-- VIOLATION -->
            <app-paladincloud-violation-notification
                *ngSwitchCase="LAYOUTTYPE.PALADINCLOUD_VIOLATION"
                [details]="notificationDetails"
                (navigateTo)="navigateTo($event)"
            >
            </app-paladincloud-violation-notification>
            <!--./VIOLATION -->

            <!-- KEY VALUE -->
            <app-keyvalue-notification
                *ngSwitchCase="LAYOUTTYPE.KEYVALUE"
                [details]="notificationDetails"
            ></app-keyvalue-notification>

            <!-- JSON -->
            <ngx-json-viewer *ngSwitchDefault [json]="notificationDetails"> </ngx-json-viewer>
            <!-- JSON -->
        </div>
        <!--./NOTIFICATION SWITCH -->
    </div>
</div>
