<header class="autofix-header">Autofix</header>
<div class="autofix-info">
    <p>Great News! Sit back and relax, you don't need to do a thing!</p>
    <br />
    <p>
        An Autofix for <span class="autofix-info-value">{{ autofixDetails.name }}</span> has been
        <span class="autofix-info-value">{{ autofixDetails.status }}</span> and will resolve this Violation on
        <span class="autofix-info-value">{{ autofixDetails.endDate | date : 'medium' }}</span>.
    </p>
    <br />
    <p>
        You'll get
        <span class="autofix-info-value">{{ autofixDetails.playItemsCount }}</span> notification{{
        autofixDetails.playItemsCount > 1 ? 's' : ''
        }}
        along the way to keep you in the loop on how it's going.
    </p>
</div>
