.dropdown-wrapper mat-form-field{
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--border-200);
}

::ng-deep .mat-select-panel{
    margin-top: 20px !important;
    width: 100% !important;
    margin-left: 15px !important;
}
::ng-deep .mat-option-text{
    font: var(--text-body-2) !important;
    color: var(--text-low-emphasis) !important;
  }

::ng-deep .mat-form-field-wrapper{
    padding: 0px !important;
}

  ::ng-deep .mat-form-field-should-float.mat-form-field-label{
      display: none !important;
  }

.dropdown-wrapper ::ng-deep .mat-select{
    color: var(--text-high-emphasis);
    font: var(--text-body-2);
  }