<div class="dropdown-wrapper">
    <mat-form-field>
        <mat-label>{{placeholder}}</mat-label>
        <mat-select [disabled]="isDisabled" disableOptionCentering (closed)="onClose()" [required]="required"
            (selectionChange)="selectedValue($event.value)" [(ngModel)]="selectedOption"
             [formControl]="listControl" [multiple]="isChipListEnabled">
            <mat-select-trigger>
                <div *ngIf="optionImage" [class.optionImage]="optionImage">
                    <img src="{{selectedOptionImage}}">
                    <span>{{selectedOption}}</span>
                </div>
                <div *ngIf="isChipListEnabled">
                <app-chip [chipsList]="listControl.value" [backgroundColor]="'#F1F6FF'" [color]="'#336CC9'" (updatedChipsList)="updateChipsList($event)"
                 [isRemovable]="true"></app-chip>
                </div>
                <div *ngIf="!optionImage && !isChipListEnabled">
                    <span>{{selectedOption}}</span>
                </div>
            </mat-select-trigger>
            <mat-option [class.optionImage]="optionImage" *ngFor="let item of optionList" [value]="item.text">
                <div [class.optionImage]="optionImage">
                    <img *ngIf="optionImage" src="{{item.img}}">
                    {{item.text}}
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="requiredInfo">
        <img src="../../../assets/icons/info-circle.svg">
    </div>
</div>