.header-wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  align-items: center;
}

.app-button {
  border: none;
  box-shadow: none;
  border-radius: 4px;
  background-color: var(--primary-400);
  color: #fff;
  display: inline-block;
  padding: 8px 16px;
  font: var(--text-body-2);
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}
.white-button.app-button {
  border: 1px solid #D95140;
  box-shadow: none;
  display: inline-block;
  background:none;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  color: #D95140;
}

.image-wrapper{
  align-items: center;
}

.value-text{
  text-transform: capitalize;
}

.content-wrapper{
  background-color: white;
  padding: 24px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: auto;
}

.details-wrapper{
  flex-basis: calc(100% / 3);
}

.text-wrapper{
  flex-basis: 23%;
}