<div class="page-layout">
    <div *ngIf="backButtonRequired" class="breadcrumb-container" style="padding-bottom: 18px">
        <app-breadcrumb *ngIf="breadcrumbLinks.length>0" [breadcrumbLinks]="breadcrumbLinks"
            [breadcrumbArray]="breadcrumbArray" [breadcrumbPresent]="breadcrumbPresent"></app-breadcrumb>
    </div>
    <div class="page">
        <div class="stepper">
            <app-stepper [currentStepperIndex]="currentStepperIndex" [stepperData]="stepperData"
                (selectedStepperIndex)="selectedStepperIndex($event)">
                <ng-template #stepsHeader>
                    <div class="text-wrapper">
                        <span class="title">{{pageTitle}}</span>
                        <span class="sub-text">Follow the steps below to Edit a policy for an asset type</span>
                    </div>
                </ng-template>
                <ng-template #stepsContent>
                    <div class="right-wrapper">
                        <div class="flex gap-8">
                        <span class="subtitle-1">{{FormHeader}}</span>
                        <mat-slide-toggle *ngIf="currentStepperName=='Autofix'" [checked]="isAutofixEnabled" (change)="toggleAutofix($event)"></mat-slide-toggle>
                        </div>
                        <form class="form-wrapper" (ngSubmit)="onSubmit(policyForm)" #policyForm="ngForm">
                            <div [hidden]="currentStepperName != 'Policy Details'">
                                <app-input-field class="isDisabled" [(value)]="selectedPolicyType" placeholder="Policy Type"></app-input-field>
                                <div class="details-wrapper">
                                    <app-input-field class="isDisabled" [(value)]="policyDisplayName" placeholder="Policy Name"></app-input-field>
                                    <app-input-field class="isDisabled" [(value)]="selectedAssetGroup" placeholder="Asset Group"></app-input-field>
                                    <app-input-field class="isDisabled" [(value)]="selectedAssetType" placeholder="Asset Type"></app-input-field>
                                    <div class="dropdown">
                                        <app-dropdown [required]="isRequired" [requiredInfo]="true" [optionImage]="true"
                                            [items]="policySeverities" placeholder="Severity"
                                            [selectedItem]="selectedSeverity" name="severity"
                                            (selected)="onSelectSeverity($event)">
                                        </app-dropdown>
                                    </div>
                                    <div class="dropdown">
                                        <app-dropdown [required]="isRequired" [requiredInfo]="true" [optionImage]="true"
                                            [items]="policyCategories" placeholder="Category"
                                            [selectedItem]="selectedCategory" name="category"
                                            (selected)="onSelectCategory($event)">
                                        </app-dropdown>
                                    </div>
                                    <app-input-field class="isDisabled" [(value)]="description" placeholder="Description"></app-input-field>
                                    <app-input-field class="isDisabled" [(value)]="resolution" placeholder="Resolution"></app-input-field>
                                    <app-input-field class="isDisabled" [(value)]="resolutionUrl" placeholder="Resolution Link"></app-input-field>
                                </div>
                            </div>
                            <div [hidden]="currentStepperName != 'Policy Parameters'">
                                <div class="header-wrapper">
                                    <span class="params-header">Select Key</span>
                                    <span class="params-header">Enter Value</span>
                                </div>
                                <div class="parameters-wrapper">
                                    <div *ngFor="let param of paramsList;let i=index">
                                        <div class="parameter-wrapper"  *ngIf="param.isEdit" >
                                            <mat-form-field class="isDisabled" appearance="outline">
                                                <input autocomplete="off" matInput name="key-{{i}}" 
                                                    [(ngModel)]="param.displayName">
                                            </mat-form-field>
                                         <app-input-field [(value)]="param.value" [required]="param.isMandatory" [description]="param.description"></app-input-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="currentStepperName != 'Autofix'" class="autofix-wrapper">
                                  <div [class.hide]="!isAutofixEnabled" class="flex flex-col gap-20">
                                    <app-dropdown [items]="accountList" placeholder="Accounts" [isChipListEnabled]="true"
                                    [selectedList]="selectedAccounts" (selected)="onAccountsChange($event)"></app-dropdown>
                                    <app-input-field [(value)]="fixMailSubject" placeholder="Fix Subject"></app-input-field>
                                    <app-input-field [(value)]="postFixMessage" placeholder="Fix Message"></app-input-field>
                                    <app-input-field [(value)]="violationMessage" placeholder="Violation Message"></app-input-field>
                                  </div>
                                  <div class="notification-wrapper flex flex-col gap-20" *ngIf="isAutofixEnabled">
                                    <div class="flex gap-8">
                                        <span class="subtitle-1">Mute Notification</span>
                                        <mat-slide-toggle [checked]="isSilentNotificationEnabled" (change)="toggleSilentNotification($event)"></mat-slide-toggle>
                                    </div>
                                    <div class="flex flex-col gap-20" *ngIf="!isSilentNotificationEnabled;else silent">
                                        <app-input-field [(value)]="waitingTime" placeholder="Waiting Time"></app-input-field>
                                        <app-input-field [(value)]="warningMailSubject" placeholder="Warning Subject"></app-input-field>
                                        <app-input-field [(value)]="warningMessage" placeholder="Warning Message"></app-input-field>
                                        <app-input-field [(value)]="maxEmailNotification" placeholder="Max Notification"></app-input-field>
                                    </div>
                                    <ng-template #silent>
                                        <app-input-field [(value)]="elapsedTime" placeholder="Waiting Time"></app-input-field>
                                    </ng-template>
                                  </div>
                            </div>
                        </form>
                        <div class="button-wrapper">
                            <button class="button next-btn" [class.hide]="currentStepperIndex+1<stepperData.length"
                                (click)="onSubmit(policyForm)">
                                {{submitBtn}}</button>
                            <button class="button next-btn" [class.hide]="currentStepperIndex+1==stepperData.length"
                                (click)="pageCounter('next')">
                                Next</button>
                            <button class=" button back-btn" [class.hide]="currentStepperIndex==0"
                                (click)="pageCounter('back')">Back</button>
                        </div>
                    </div>
                </ng-template>
            </app-stepper>
        </div>
    </div>
</div>