.tile {
    padding: 20px 16px;
    border-radius: var(--border-radius);
    background-color: var(--background-white);
}

.tile-header {
    gap: 10px;
}

.tile-header-img {
    min-width: 16px;
    padding: 8px;
    border-radius: var(--border-radius);
    background-color: var(--background-grey);
}

.tile-header-title {
    color: var(--text-high-emphasis);
    font: var(--text-body-2);
}

.tile-header-count {
    color: var(--text-high-emphasis);
    font-family: var(--text-medium-font-family);
    font-weight: 500;
    font-size: 28px;
    cursor: pointer;
}

.tile-header-count img {
    filter: invert(46%) sepia(3%) saturate(1769%) hue-rotate(159deg) brightness(96%) contrast(85%);
}

.tile-details {
    padding: 4px 8px;
    border: 1px solid var(--border-100);
    background-color: rgb(242 243 245 / 31%);
    border-radius: var(--border-radius);
    font: var(--text-caption);
    color: var(--text-medium-emphasis);
}
