<div
        class="_rp_55 ms-font-weight-regular ms-font-color-neutralDark rpHighlightAllClass rpHighlightBodyClass"
        id="Item.MessageUniqueBody"
        style="font-family: wf_segoe-ui_normal,&amp; quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif, serif, EmojiFont;">
    <div class="rps_50b9">
        <div>
            <div>
                <div class="x_3DWordSection1">
                    <table style="" width="3D624">
                        <tbody>
                        <tr style="">
                            <td style="" valign="3Dtop" width="3D624"><img
                                    alt="Paladin Cloud Security Operations"
                                    data-imagetype="External"
                                    th:src="${EMAIL_BANNER}"
                                    title="Paladin Cloud Security Operations"></td>
                        </tr>
                        <tr style="">
                            <td style="" valign="3Dtop" width="3D624">
                                <p align="center" class="x_MsoNormal"
                                   style="margin-bottom: 0in; margin-bottom: .0001pt; text-align: center; line-height: normal">
                                    <i style=""><span style="font-size: 9.0pt">You are receiving this email because the exception granted to one of the AWS resource is now expired and if not extended it will get auto fixed soon.
										</span></i>
                                </p>
                                <p class="x_MsoNormal"
                                   style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
                                    <span style="font-size: 12.0pt">Hello ${NAME},</span>
                                </p>
                                <p class="x_MsoNormal"
                                   style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal">
										<span style="font-size: 12.0pt">
										Please extend the exception for (<b>${BUCKET_NAME}</b>) 
										</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
