.container-wrapper {
    padding: 28px;
    width: 100%;
    min-width: 550px;
    background-color: var(--background-grey);
}

.container-1 {
    height: 186px;
}

.container-2 {
    height: 396px;
}

.container-3 {
    height: 530px;
}

.container-4 {
    height: 504px;
}

.container-3 ::ng-deep .mat-form-field-infix {
    width: 150px;
}

.container-3 ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #687780;
}

mat-grid-tile {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.violation-tile {
    border: 1px solid var(--border-200);
}

@media (max-width: 800px) {
    .container-1 {
        height: auto;
    }

    .container-2 {
        height: auto;
    }

    .container-3 {
        height: auto;
    }

    .container-4 {
        height: auto;
    }
}

@media (max-width: 1000px) {
    .container-1 {
        height: auto;
    }

    .container-2 {
        height: auto;
    }

    .container-3 {
        height: auto;
    }

    .container-4 {
        height: auto;
    }
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container {
    transition: height 250ms cubic-bezier(0, 0, 0.2, 1);
    position: relative;
}

.container.collapsed {
    background: var(--background-white);
    height: 52px;
    border-radius: 16px;
    border: 1px solid var(--border-200);
    transition: height 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container.collapsed .mat-grid-list {
    display: none;
}

.container-title-collapsed {
    font: var(--text-body-2);
    padding: 16px 24px;
}

.collapse-btn {
    position: absolute;
    right: 0;
    top: -1;
    z-index: 1;
    padding: 0;
    height: 24px;
    width: 24px;
    border: none;
    font-size: 24px;
    background: transparent;
    color: var(--text-low-emphasis);
}

.collapse-btn:hover {
    cursor: pointer;
}

.container.collapsed .collapse-btn {
    right: 50%;
}
