<div
    class="container-wrapper gap-24 flex flex-col"
    cdkDropList
    [cdkDropListData]="dashboardContainers"
    (cdkDropListDropped)="dropDashboardItem($event)"
>
    <div
        [class]="'container container-' + (item + 1)"
        [class.collapsed]="isCollapsedContainer(item)"
        *ngFor="let item of dashboardContainers"
        cdkDrag
    >
        <button class="collapse-btn" type="button" (click)="toggleContainer(item)">
            <mat-icon>{{ isCollapsedContainer(item) ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>

        <div class="container-title-collapsed" *ngIf="isCollapsedContainer(item)">
            {{ collapsedContainerTitle(item) }}
        </div>
        <!-- Violation Tiles -->
        <mat-grid-list
            *ngIf="item === 0"
            [cols]="breakpoint1"
            rowHeight="186px"
            gutterSize="20px"
            (window:resize)="onresize($event)"
        >
            <mat-grid-tile class="violation-tile" *ngFor="let card of violationCards">
                <app-violations-card
                    [breadcrumbPresent]="breadcrumbPresent"
                    [card]="card"
                ></app-violations-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!--./Violation Tiles -->

        <!-- Category & Violations by Severity -->
        <mat-grid-list
            *ngIf="item === 1"
            [cols]="breakpoint2"
            rowHeight="396px"
            gutterSize="20px"
            (window:resize)="onresize($event)"
        >
            <mat-grid-tile>
                <app-card
                    [breadcrumbPresent]="breadcrumbPresent"
                    [card]="cards[0]"
                    [data]="complianceData"
                    [dataError]="complianceDataError"
                ></app-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-card
                    [card]="cards[1]"
                    [dataError]="policyDataError"
                    [data]="policyData"
                ></app-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!--./Category & Violations by Severity -->

        <!-- Asset Chart -->
        <mat-grid-list
            *ngIf="item === 2"
            [cols]="breakpoint3"
            rowHeight="530px"
            gutterSize="20px"
            (window:resize)="onresize($event)"
        >
            <mat-grid-tile>
                <app-card
                    [card]="cards[2]"
                    [dataError]="totalAssetsCountDataError"
                    [data]="totalAssetsCountData"
                    (graphIntervalSelected)="getAssetsCountData($event)"
                ></app-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!--./Asset Chart -->

        <!-- Compliance Overview Table -->
        <mat-grid-list *ngIf="item === 3" [cols]="breakpoint4" rowHeight="504px">
            <mat-grid-tile style="background-color: var(--background-white)">
                <app-table
                    style="height: 100%; width: 100%"
                    (rowSelectEventEmitter)="goToDetails($event)"
                    [data]="complianceTableData"
                    [columnWidths]="columnWidths"
                    [centeredColumns]="centeredColumns"
                    [tableErrorMessage]="tableErrorMessage"
                    [tableDataLoaded]="tableDataLoaded"
                    [columnsSortFunctionMap]="columnsSortFunctionMap"
                    (headerColNameSelected)="handleHeaderColNameSelection($event)"
                    [headerColName]="headerColName"
                    [direction]="direction"
                    [whiteListColumns]="whiteListColumns"
                    [tableTitle]="tableTitle"
                    [showAddRemoveCol]="true"
                    [showSearchBar]="true"
                    (searchCalledEventEmitter)="callNewSearch($event)"
                    [searchQuery]="searchTxt"
                    (downloadClicked)="handlePopClick($event)"
                    [tableScrollTop]="tableScrollTop"
                    [totalRows]="totalRows"
                    [showDownloadBtn]="showDownloadBtn"
                    [showFilterBtn]="true"
                    [doLocalFilter]="true"
                    [doLocalSearch]="true"
                    [filterTypeLabels]="filterTypeLabels"
                    [filterTagLabels]="filterTagLabels"
                    [filteredArray]="filters"
                    [rowSize]="'SM'"
                >
                </app-table>
            </mat-grid-tile>
        </mat-grid-list>
        <!--./Compliance Overview Table -->
    </div>
</div>
