.multiline-graph-container {
  width: 100%;
  height: 100%;
  position: relative;
  font: var(--text-overline);
}

.multiline-graph-container .count-in-range {
  position: absolute;
  right: 1.6vw;
  top: 1rem;
  color: var(--primary-400);
  font-size: 2.3em;
}

.multiline-graph-container .dates-range {
  position: absolute;
  right: 1.6vw;
  top: 4rem;
  color: #666;
  font-size: 1em;
}

.multiline-graph-container .legend-text {
  height: 4vh;
  padding: 4px .7vw;
  background-color: var(--background-white);
  white-space: nowrap;
  font: var(--text-body-2);
}

.multiline-graph-container .legend-color {
  height: 14px;
  min-width: 14px;
}

.multiline-graph-container li.flex {
  margin-left: 3%;
}

.multiline-graph-container ::ng-deep .horizontal .tick line{
    stroke-dasharray: 3;
    stroke: var(--gamma-grey-600);
}

.multiline-graph-container ::ng-deep .vertical .tick line{
    display: none;
}

.multiline-graph-container ::ng-deep .focus .axis .domain{
  display: none;
}

.hover {
  transition: 0.2s ease;
}

.x-axis-text{
  font: var(--text-caption);
  display: flex;
  justify-content: center;
}

.axis-title{
  font: var(--text-body-2);
}

.disabled-option ::ng-deep .mat-pseudo-checkbox-disabled{
  display: none;
}

.multiline-graph-container ::ng-deep .mat-select-arrow{
  display: none;
}

.multiline-graph-container ::ng-deep .mat-form-field-infix{
  width: 100%;
}

.line-selector-trigger-wrapper{
  background: #F1F6FF;
  color: var(--primary-400);
  font: var(--text-body-2);
  padding: 6px 4px 2px;
}

.line-selector-trigger img{
  filter: invert(46%) sepia(16%) saturate(383%) hue-rotate(159deg) brightness(94%) contrast(82%);
}