.multiline-graph-container {
  width: 100%;
  height: 100%;
  position: relative;
  font: var(--text-overline);
}

.multiline-graph-container .count-in-range {
  position: absolute;
  right: 1.6vw;
  top: 1rem;
  color: var(--primary-400);
  font-size: 2.3em;
}

.multiline-graph-container .dates-range {
  position: absolute;
  right: 1.6vw;
  top: 4rem;
  color: #666;
  font-size: 1em;
}

.multiline-graph-container .legend-text {
  height: 4vh;
  padding: 4px .7vw;
  background-color: var(--background-white);
  white-space: nowrap;
  font: var(--text-body-2);
}

.multiline-graph-container .legend-color {
  height: 14px;
  min-width: 14px;
}

.multiline-graph-container li.flex {
  margin-left: 3%;
}

.hover {
  transition: 0.2s ease;
}

.x-axis-text{
  font: var(--text-caption);
  display: flex;
  justify-content: center;
}