.switch-wrapper{
    display: flex;
    background-color: var(--interaction-neutral-subtle-normal);
    padding: 4px;
    border-radius: 4px;
    margin-left: auto;
    border: 1px solid var(--border-normal);
}

.switch-wrapper ::ng-deep .mat-button-wrapper{
    display: flex;
    gap: 6px;
    padding: 4px 0px;
    font: var(--text-body-2);
    color: var(--text-medium-emphasis);
}

.isSelected{
    background-color: var(--background-white);
    box-shadow: 0px 1px 2px 0px #1018280F, 0px 1px 3px 0px #1018281A;
}

.isSelected img{
    filter: invert(47%) sepia(18%) saturate(2804%) hue-rotate(186deg) brightness(80%) contrast(97%);
}

.switch-wrapper ::ng-deep .mat-button{
    padding: 0px 8px !important;
}