<mat-card class="panel">
    <mat-card-header>
        <span class="title">{{ card.header }}</span>
        <div *ngIf="tabs">
            <app-multi-tab-switcher [tabs]="tabs" [tabSelected]="tabSelected" (switchView)="switchTabView($event)"></app-multi-tab-switcher>
        </div>
        <app-table-filter-chip
            *ngIf="this.showFilters"
            [category]="filters.category"
            [options]="filters.list"
            [shortFilters]="filters.shortFilters"
            [numberOfAllowedFilters]="filters.numberOfAllowedFilters"
            enableMultiValuedFilter="true"
            [appliedFiltersDict]="appliedFiltersDict"
            disableRemoveChip="true"
            (update)="filtersUpdate($event)"
            (chipDropdownClose)="chipDropdownClose()"
        ></app-table-filter-chip>
        <div *ngIf="showDateDropdown" class="date-dropdown-container">
            <div
                class="date-selection-trigger"
                #menuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="menu"
            ></div>
            <app-dropdown
                (closeEventEmitter)="onDropdownClose()"
                (click)="onCustomSelection()"
                [items]="['1 week', '1 month', '6 months', '12 months', 'All time', 'Custom']"
                [selectedItem]="selectedItem"
                (selected)="handleGraphIntervalSelection($event)"
            >
            </app-dropdown>
            <mat-menu #menu="matMenu" xPosition="before">
                <div class="date-selection-modal">
                    <app-date-selection
                        [minDate]="minDate"
                        [selectedRange]="selectedRange"
                        (datesSelected)="dateIntervalSelected($event.from, $event.to)"
                    ></app-date-selection>
                </div>
            </mat-menu>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div class="chart-wrapper" id="trendGraph">
                <ng-content></ng-content>
            </div>
        </div>
    </mat-card-content>
</mat-card>
