{
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "overrides": [
    {
        "files": ["*.html"],
        "options": {
            "parser": "html"
        }
    },
    {
        "files": ["*.component.html"],
        "options": {
            "parser": "angular"
        }
    }
  ]
}
