<div class="header-wrapper">
  <img src="/assets/images/Paladin_Logo.svg" style="height: 28px;"/>
  <div class="header-search-wrapper" (click)="handleSearch()">
    <div class="header-search-content-container flex flex-row">
      <!-- <mat-icon
        class="mat-icon"
        matPrefix
        svgIcon="customSearchIcon"
      ></mat-icon> -->

      <img src="/assets/icons/header-search.svg" alt="" />
      <form class="header-search-form">
        <mat-form-field class="header-search-full-width" appearance="fill">
          <input type="search" matInput placeholder="Search" />
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="header-user-wrapper">
    <div class="header-user-content-wrapper">
      <div class="user-image-wrapper">
        <h3>{{userName[0]}}</h3>
      </div>
      <div class="user-info-wrapper">
        <div class="user-name">{{userName}}</div>
        <div class="user-email">{{userEmail}}</div>
      </div>
      <div title="Logout" class="user-logout-modal-btn" >
        <img
          src="/assets/icons/logout-icon.svg"
          alt=""
          (click)="logout()"
        />
      </div>
    </div>
  </div>
</div>
