.header-wrapper {
  padding: 12px 20px;
  display: flex;
  width: 100%;
  min-width: 600px;
  background-color: var(--background-white);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-200);
}

.header-search-wrapper {
  background: var(--background-grey);
  width: 308px;
  height: 44px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 4px;
}

.header-search-content-container {
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.header-search-content-container img {
  padding: 2px;
}

::ng-deep .mat-form-field-placeholder {
  font: var(--text-body-2);
  color: var(--text-low-emphasis);
  text-transform: none;
}

::ng-deep .mat-input-element {
  font-family: var(--text-font-family) !important;
  color: var(--text-medium-emphasis) !important;
  cursor: pointer;
}

::ng-deep .header-search-content-container .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .header-search-content-container .mat-form-field-appearance-fill .mat-form-field-flex {
  padding-left: 0 !important;
  background-color: inherit;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.header-search-form {
  float: right;
  padding-left: 8px;
}

.mat-icon {
  height: 16px;
  width: 16px;
  margin-top: 4px;
}

::ng-deep .mat-form-field-should-float .mat-form-field-placeholder {
  display: none !important;
}

.header-user-wrapper {
  height: 100%;
  position: relative;
}

.header-user-content-wrapper {
  display: flex;
}

.user-logout-modal-btn {
  cursor: pointer;
  padding: 6px;
}

.user-logout-modal-btn img {
    height: 20px;
    width: 20px;
}

.user-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  text-transform: capitalize;
  color: var(--text-medium-emphasis);
  background-color: var(--background-grey);
}

.user-info-wrapper {
  margin-left: 8px;
  width: 80px;
  font-family: var(--text-font-family);
  font-weight: var(--text-light-font-weight);
  font-size: var(--text-caption-font-size);
  line-height: 16.8px;
}

.user-name,
.user-email {
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info-wrapper .user-name {
  color: var(--text-high-emphasis);
}

.user-info-wrapper .user-email {
  color: var(--text-medium-emphasis);
}

.header-company-logo {
    height: 28px;
    width: 130px;
}

.header-company-logo:hover {
    cursor: pointer;
}

.header-user-notification {
    margin: 4px 16px 0 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--icons-300);
}

.header-user-notification:hover {
    cursor: pointer;
}

.header-user-notification.active::after {
    width: 7px;
    height: 7px;
    position: absolute;
    content: ' ';
    border-radius: 50%;
    top: 0;
    right: 0;
    background: var(--vizualization-significant-color);
}

