<div class="container-wrapper">
    <div class="asset-dashboard-wrapper flex flex-col">
        <div class="asset-dashboard-header">
            <app-text classNames="page-title" [text]="pageTitle"></app-text>
        </div>
        <div class="type-count-container flex flex-row">
            <app-overview-tile
                class="asset-summary-card"
                *ngFor="let tile of tiles"
                [tile]="tile"
                (navigateTo)="redirectTo($event)"
            ></app-overview-tile>
        </div>
        <app-asset-trend-graph class="asset-trend-graph"></app-asset-trend-graph>
    </div>
</div>
