.container-wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow: scroll;
}


.asset-dashboard-container{
  height: 100%;
  width: 100%;
}

.asset-dashboard-wrapper {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  gap: 20px;
}

.asset-dashboard-header .title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 8px;
    width: 100%;
    font: var(--text-headline-6);
    color: var(--text-high-emphasis);
}

.asset-dashboard-header .description{
  color: #515459;
  font: var(--text-body-1);
  padding: 0px 0px 24px;
}

.type-count-container{
    gap: 18px;
}

.asset-summary-card {
  justify-content: center;
  padding: 20px 16px;
  border-radius: var(--border-radius);
  flex: 1;
  background-color: var(--background-white);
}

.asset-summary-card .asset-summary-img{
    margin-left: auto;
}

.asset-summary-card .asset-summary-img .tile-img-wrapper{
    padding: 8px;
    border-radius: var(--border-radius);
    background-color: var(--background-grey);
}

.asset-summary-card .asset-summary-img img{
    filter: invert(41%) sepia(76%) saturate(305%) hue-rotate(179deg) brightness(88%) contrast(95%);
}


.asset-summary-card-wrapper{
  gap: 16px;
}

.asset-summary-upper-container{
  gap: 16px;
}

.asset-summary-content{
  gap: 16px;
}

.asset-summary-content .asset-summary-title{
  color: var(--text-high-emphasis);
  font: var(--text-body-2);
}

.asset-summary-content .asset-summary-count{
  color: var(--text-high-emphasis);
  font: var(--text-headline-3);
}

.asset-summary-content .asset-summary-count img{
  filter: invert(46%) sepia(3%) saturate(1769%) hue-rotate(159deg) brightness(96%) contrast(85%);
}
.asset-summary-details{
  gap: 8px;
}

.asset-summary-details-wrapper{
    padding: 8px 16px;
    border: 1px solid var(--border-100);
    background-color: rgba(242, 243, 245, 0.31);
    border-radius: var(--border-radius);
}

.asset-summary-details-wrapper .name{
  font: var(--text-caption);
  font-family: var(--text-light-font-family);
  color: var(--text-medium-emphasis);
}

.asset-summary-details-wrapper .count{
  font: var(--text-headline-6);
  color: var(--text-medium-emphasis);
}

.asset-summary-details-wrapper{
  justify-content: space-between;
}

/* @import "src/app/pacman-features/modules/compliance/card/card.component.css"; */

::ng-deep app-card {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

::ng-deep app-chart {
  width: 100%;
}

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  background: var(--background-white);
  border: 1px solid var(--border-100);
  border-radius: 16px;
  box-shadow: none;
}

mat-card-actions button {
  border: none;
  background: var(--background-white);
  cursor: pointer;
  height: 17px;
  font-family: var(--text-medium-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-body-2-font-size);
  display: flex;
  letter-spacing: -0.005em;
  color: var(--primary-500);
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

mat-card-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
  height: 58px;
  margin: 0;
  background: var(--background-white);
  border-bottom: 2px solid var(--border-100);
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin: 0;
  background: var(--background-white);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.chart {
  height: 100%;
  width: 100%;
}

.date-dropdown-container{
  margin-left: auto;
}

::ng-deep .mat-menu-panel{
  min-height: auto !important;
  min-width: fit-content !important;
}

::ng-deep .mat-menu-content{
  padding: 0 !important;
}

.asset-dashboard-container ::ng-deep .mat-form-field-infix{
  padding: 8px 16px;
  width: 150px;
}

.asset-dashboard-container ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
  color: #687780;
}

#TotalAssetsSummaryTrend ::ng-deep .multiline-graph-container .horizontal .tick line{
    stroke-dasharray: 3;
    stroke: var(--gamma-grey-600);
}

#TotalAssetsSummaryTrend ::ng-deep .multiline-graph-container .vertical .tick line{
    display: none;
}

#TotalAssetsSummaryTrend ::ng-deep .multiline-graph-container .focus .axis .domain{
  display: none;
}
