.container-wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow: scroll;
}

.asset-dashboard-wrapper {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    gap: 20px;
}

.type-count-container {
    gap: 20px;
}

.asset-summary-card {
    flex: 1;
}
