<div class="header flex gap-8 body-1 high-emphasis">
    <img class="header-icon" src="/assets/icons/paladin-logo.svg" />
    <div class="header-text">
        {{ title }}
    </div>
</div>
<table class="violation-table body-1 high-emphasis">
    <tbody>
        <tr class="violation-parameter">
            <td class="violation-name">Policy</td>
            <td class="violation-value">
                <app-text
                    classNames="pointer primary-400"
                    [text]="details.policyName"
                    (click)="navigateTo.emit(details.policyNameLink)"
                >
                </app-text>
            </td>
        </tr>

        <tr class="violation-parameter">
            <td class="violation-name">Violation</td>
            <td class="violation-value">
                <app-text
                    classNames="pointer primary-400"
                    [text]="details.issueId"
                    (click)="navigateTo.emit(details.issueIdLink)"
                ></app-text>
            </td>
        </tr>

        <tr class="violation-parameter">
            <td class="violation-name">Discovered on</td>

            <td class="violation-value">
                <app-text [text]="details.scanTime | date : 'medium'"></app-text>
            </td>
        </tr>
    </tbody>
</table>
