.table-content-container{
    width: 100%;
    height: calc(100vh - 310px);
    overflow: scroll;
}

.table-wrapper{
  height: 100%;
  background: white;
}

.table-header{
    background-color: var(--background-white);
    border: 1px solid var(--border-100);
    height: 64px;
    padding: 12px 19px 12px 24px;
}

.table-header .search-bar-wrapper {
    width: 100%;
}

.table-header .search-bar-container{
    height: 40px;
    max-width: 543px;
    flex: 3;
    border: 1px solid var(--border-200);
}

.table-header .add-remove-columns-container{
    flex: 5;
    padding: 5px;
    /* margin-left: auto; */
}

.table-header .add-remove-columns-container .add-remove-columns-wrapper{
    float: right;
    height: 25px;
    border: 1px solid var(--border-200);
    padding: 0px 16px;
}

.table-header .search-in-columns{
    margin-left: auto;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-infix {
    width: 100%;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none;
}

.table-header ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    /* height: 0px; */
    padding: .6em .75em 0 .75em;
}

.table-header ::ng-deep .mat-form-field-underline {
    display: none;
}

.table-header .search-bar-container .search-bar-wrapper img{
    padding: 12px;
}

.table-header ::ng-deep .mat-select-value{
    display: none;
}

.table-header .add-remove-columns-container ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    width: 20px;
}

.search-in-columns ::ng-deep .mat-select-arrow-wrapper {
    width: 20px;
    height: 20px;
    /* background: #eee; */
    border: 1px solid var(--border-100);
}

.search-in-columns ::ng-deep .mat-select-arrow {
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/arrow-down.svg);
    background-repeat: no-repeat;
}

.search-in-columns ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 10px 10px !important;
}

.search-in-columns ::ng-deep .mat-select-trigger{
    height: 100% !important;
}

.add-remove-columns-container ::ng-deep .mat-select-arrow {
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/columns.svg);
    background-repeat: no-repeat;
}

::ng-deep .mat-option-text{
    font: var(--text-body-2) !important;
    color: var(--text-high-emphasis) !important;
}

::ng-deep .mat-option{
    flex-direction: row-reverse !important;
}

::ng-deep .mat-option:first-child .mat-pseudo-checkbox{
    display: none;
}



table {
  width: 100%;
  max-height: 650px;
}

th.mat-sort-header-sorted {
  color: black;
}

tr {
  display: flex;
}

tr.mat-row:hover{
  background-color: var(--background-grey);
  cursor: pointer;
}

tr.mat-row, tr.mat-footer-row {
  height: 62px;
  padding: 12px 0px;
  align-items: center;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border:none;
}

tr.mat-header-row{
  height: 52px;
  padding: 16px 0px;
  font: var(--text-body-2);
  color: var(--text-low-emphasis);
}

thead {
  height: 52px;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding: 0px 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}