<div class="table-container flex flex-col">
        <div class="table-header">
        <div class="table-title flex flex-row" *ngIf="tableTitle">
            <div class="left">
                {{ tableTitle }}
            </div>
            <div class="table-count-info" style="margin-left: 20px;">
                <span *ngIf="isDataLoading">Loading...</span>
                <span *ngIf="!isDataLoading">Loaded {{this.dataSource.data.length}} of {{ totalRows }} rows</span>
            </div>
            <div class="right">
                <div class="more-wrapper" *ngIf="showDownloadBtn">
                    <img mat-button [matMenuTriggerFor]="menu" src="/assets/icons/three-dots.svg" alt="">
                    <mat-menu #menu="matMenu">
                    <button (click)="download()" mat-menu-item>Download</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="table-column-modifier flex flex-row" *ngIf="showSearchBar || showAddRemoveCol">
            <div class="header-left flex flex-row">
                <div class="search-bar-wrapper flex flex-row" *ngIf="showSearchBar">
                    <img src="/assets/icons/header-search.svg" matPrefix alt="" />
                    <input type="search" matInput [(ngModel)]="searchQuery" (keyup)="handleSearch($event)" placeholder="Search" />
                    <!-- <div class="search-in-columns" matSuffix>
                        <mat-form-field>
                            <mat-select [formControl]="searchInColumns" multiple>
                                <mat-option class="disabled-option" disabled="true" value="disabled">SEARCH IN</mat-option>
                                <mat-option (click)="handleSearchInColumnsChange()" *ngFor="let column of whiteListColumns" [value]="column">
                                {{column}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                </div>
            </div>
            <div class="header-right flex flex-row">
                <div class="add-remove-columns-wrapper" *ngIf="showAddRemoveCol">
                    <mat-form-field>
                        <mat-select #select multiple>
                            <mat-option class="disabled-option" disabled="true" value="disabled">Show/hide columns</mat-option>
                            <mat-option #allColumnsSelected (click)="toggleAllSelection()" value="selectAll">Select All</mat-option>
                            <mat-option (click)="optionClick()" *ngFor="let column of displayedColumns" [value]="column">
                            {{column}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span> Columns </span>
                </div>
                <div class="filter-wrapper flex flex-row" (click)="showFilterModal = !showFilterModal;" *ngIf="showFilterBtn">
                    <img src="/assets/icons/filter-icon.svg" alt="">
                    <span>Filter</span>
                </div>
                <div class="filter-modal-container" *ngIf="showFilterModal">
                    <div class="filter-modal-wrapper flex flex-col">
                        <div class="header flex flex-row">
                            <div class="title">Filters</div>
                            <div class="clear-all-btn" (click)="removeAllFilters()">Clear all</div>
                        </div>
                        <div class="filters-container">
                            <div class="filters-wrapper flex flex-col">
                            <div class="filter flex flex-row" *ngFor="let filter of filteredArray; let i=index">
                                <app-dropdown [items]="filterTypeLabels"
                                    (selected)='onSelectFilterType($event, i)'
                                    [selectedItem]="filter.keyDisplayValue"
                                    [placeholder]="'Select Filter Type'">
                                </app-dropdown>
                                <app-dropdown [items]="filterTagLabels[filter.keyDisplayValue]?filterTagLabels[filter.keyDisplayValue]:[]"
                                    (selected)='onSelectFilter($event, i)'
                                    [selectedItem]="filter.filterValue"
                                    [placeholder]="'Select Filter'">
                                </app-dropdown>
                                <!-- <input style="width:100%; border:1px solid var(--border-100)" matInput [(ngModel)]="filterArr[i].filterText" (keyup)="changeFilterText($event, i)" type="text"> -->
                                <img (click)="removeFilter(i)" style="cursor: pointer;" src="/assets/icons/x-icon.svg" alt="">
                            </div>
                        </div>
                        </div>
                        <div class="footer">
                            <div class="add-filter-btn" (click)="addFilter()">
                                Add Condition
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-wrapper" *ngIf="!tableTitle && showDownloadBtn">
                    <img mat-button [matMenuTriggerFor]="menu" src="/assets/icons/three-dots.svg" alt="">
                    <mat-menu #menu="matMenu">
                    <button (click)="download()" mat-menu-item>Download</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="table-content-container" (scroll)="onScroll($event)">
    <div [class.loader]="data.length==0 && tableErrorMessage==''"></div>
    <app-error-message *ngIf="tableErrorMessage" [selectedValue]="tableErrorMessage"></app-error-message>
    <div class="table-wrapper" *ngIf="!tableErrorMessage && data.length>0">
        <table mat-table [dataSource]="dataSource" [matSortActive]="headerColName" [matSortDirection]="direction" matSortDisableClear matSort (matSortChange)="announceSortChange($event)">
            <ng-container *ngFor="let column of whiteListColumns;" [matColumnDef]="column">
                <th [style.width]="columnWidths[column]*screenWidthFactor+'px'" mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                <td [style.width]="columnWidths[column]*screenWidthFactor+'px'" class="capitalize" mat-cell *matCellDef="let element"> 
                    <img *ngIf="imageDataMap[element[column].toLowerCase()] && imageDataMap[element[column].toLowerCase()]['image']" style="margin-right: 10px; vertical-align: text-bottom;" src="/assets/icons/{{imageDataMap[element[column].toLowerCase()].image}}.svg" [title]="element[column]"> 
                    <span *ngIf="!imageDataMap[element[column].toLowerCase()] || !imageDataMap[element[column].toLowerCase()].imageOnly" [title]="element[column]">{{ element[column] }} </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="whiteListColumns; sticky: true"></tr>
            <tr (click)="goToDetails(row)" mat-row *matRowDef="let row; columns: whiteListColumns;"></tr>
        </table>
    </div>
    </div>
</div>