.table-container{
  height: 100%;
  width: 100%;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-100);
  position: relative;
}

.table-content-container{
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.noImg{
  height: 16px;
  width: 24px;
  opacity: 0;
}

.table-wrapper{
  height: 100%;
  width: 100%;
  background: var(--background-white);
}

.table-header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.table-count-info{
  font: var(--text-body-2);
}

.table-header .table-column-modifier{
    border: 1px solid var(--border-100);
    height: 64px;
    padding: 12px 19px 12px 24px;
    align-items: center;
}

.table-header .search-bar-wrapper {
    width: 100%;
    border: 1px solid var(--border-200);
}

.table-header .search-bar-wrapper input{
  min-width: 150px;
}

.table-header .header-left{
    height: 40px;
    max-width: 543px;
    flex: 3;
}

.table-header .table-title{
  display: flex !important;
  border: 1px solid var(--border-100);
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

.table-header .table-title > *{
  flex: 1;
}

.table-header .table-title .right{
  margin-left: auto;
}

.table-header .header-right{
    flex: 5;
    padding: 5px;
}

.add-remove-columns-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
    border: 1px solid var(--border-200);
    padding: 0px 16px;
    font: var(--text-caption);
    color: var(--text-medium-emphasis);
}

.filter-wrapper{
  height: 25px;
  border: 1px solid var(--border-200);
  padding: 4px 12px;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  font: var(--text-caption);
  color: var(--text-medium-emphasis);
  align-self: center;
  margin-right: 12px;
  border-radius: 4px;
}

.filter-wrapper img{
  height: 12px;
}

.filter-modal-container{
  min-height: 100px;
  min-width: 480px;
  max-height: 250px;
  background-color: var(--background-white);
  border: 1px solid var(--border-200);
  padding: 20px;
  border-radius: 4px;
}

::ng-deep .mat-menu-panel{
  min-height: auto !important;
  min-width: fit-content !important;
}

::ng-deep .mat-menu-content{
  padding: 0 !important;
}

.filter-modal-wrapper{
  gap: 16px;
}

.isDisabled{
  pointer-events: none;
  opacity: 0.5;
}

.filter-modal-container .filters-wrapper .filter{
  gap: 16px;
  align-items: center;
}

.filter-modal-container .filters-wrapper{
  gap: 12px;
}

.filter-modal-container .header .title{
  font: var(--text-body-2);
  color: var(--text-medium-emphasis);
}

.filter-modal-container .clear-all-btn{
  margin-left: auto;
}

.filter-modal-container .header .clear-all-btn{
  font: var(--text-caption);
  color: var(--text-high-emphasis);
  cursor: pointer;
}

.filter-modal-container .footer .add-filter-btn{
  font: var(--text-caption);
  color: var(--primary-400);
  cursor: pointer;
}

.filter-modal-container img{
  height: 24px;
  width: 24px;
  padding: 4px;
}

.filters-container{
  overflow-y: scroll;
  min-height: 50px;
  max-height: 121px;
  padding: 12px 0;
}

.filters-container ::ng-deep .mat-form-field-infix{
  min-width: 150px;
}

.table-header .search-in-columns{
    margin-left: auto;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-infix {
    width: 100%;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none;
}

.table-header ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .6em .75em 0;
}

.table-header ::ng-deep .mat-form-field-underline {
    display: none;
}

.add-remove-columns-wrapper ::ng-deep .mat-select-value,
.table-header .search-in-columns ::ng-deep .mat-select-value{
    display: none;
}

.add-remove-columns-wrapper ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    width: 20px;
}

.search-in-columns ::ng-deep .mat-select-arrow-wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-100);
}

.search-in-columns ::ng-deep .mat-select-arrow {
    margin-top: 4px;
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/arrow-down.svg);
    background-repeat: no-repeat;
}

.search-in-columns ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 10px !important;
}

.search-in-columns ::ng-deep .mat-select-trigger{
    height: 100% !important;
}

.search-bar-cursor{
    cursor: text;
}

.add-remove-columns-wrapper ::ng-deep .mat-select-arrow {
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/columns.svg);
    background-repeat: no-repeat;
}

:host::ng-deep .mat-option-text{
    font: var(--text-body-2) !important;
    color: var(--text-high-emphasis) !important;
}

:host::ng-deep .mat-option{
    flex-direction: row-reverse !important;
}

:host::ng-deep .mat-option:first-child .mat-pseudo-checkbox{
    display: none;
}

table {
  width: 100%;
  table-layout: fixed;
}

th.mat-sort-header-sorted {
  color: black;
}

.row-title{
  color: var(--primary-400);
}

.row-selected,
.row-hover:hover {
  background-color: var(--background-grey);
}

.row-hover:hover {
  cursor: pointer;
}

tr.mat-row, tr.mat-footer-row {
  align-items: center;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

tr.mat-footer-row {
    height: 62px;
}

tr.mat-row.lg {
    height: 62px;
}

tr.mat-row.md {
    height: 48px;
}

tr.mat-row.sm {
    height: 36px;
}

tr.mat-row.md > td {
    font-size: 93%;
}

tr.mat-row.sm > td {
    font-size: 86%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 0 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
  border:none;
}

/* ::ng-deep th.mat-header-cell.centered > .mat-sort-header-container {
    justify-content: center;
} */

tr.mat-header-row{
  height: 52px;
  padding: 16px 0;
  font: var(--text-body-2);
  color: var(--text-low-emphasis);
  border: 1px solid var(--border-100);
  background-color: #f8f8f8;
}

.download-btn{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 4px;
  font: var(--text-caption);
  color: var(--text-medium-emphasis);
}

.more-wrapper{
  padding: 5px;
  height: 26px;
  width: 26px;
  text-align: center;
  border: 1px solid var(--border-200);
  cursor: pointer;
  margin-left: auto;
}

.chip{
  max-width: 100px;
  background: var(--background-grey);
  padding: 0 4px 0 12px;
  border-radius: 4px;
  font: var(--text-body-2);
}

.filter-chips-wrapper {
  padding-right: 8px;
}

.more-filters-wrapper{
  background: #F1F6FF;
  color: var(--primary-400);
  padding: 6px 4px;
  border-radius: 4px;
  font: var(--text-body-2);
}

.table-wrapper ::ng-deep .mat-sort-header-content{
  gap: 11px;
}

.menu-btn{
  height: 28px;
  width: 28px;
  padding: 4px;
}

.menu-btn:hover{
  border-radius: 50%;
  background: var(--primary-100);
}

.symbol{
  margin-left: 5px;
  display: inline-block;
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid;
}

.circle {
  height: 12px;
  width: 12px;
  /* background-color: #CC6262; */
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 12px;
  width: 12px;
  /* background-color: #6AAA75; */
}

.disabled-option ::ng-deep .mat-pseudo-checkbox{
  display: none;
}

.copy-icon{
  display: none;
}
.table-cell:hover .copy-icon{
  display: block;
}