.table-container{
  height: 100%;
  width: 100%;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-100);
}

.table-content-container{
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.table-wrapper{
  height: 100%;
  width: 100%;
  background: var(--background-white);
}

.table-header .table-title{
  border: 1px solid var(--border-100);
  height: 56px;
  padding: 16px 24px;
}

.table-header {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

.table-header .table-column-modifier{
    /* background-color: var(--background-white); */
    border: 1px solid var(--border-100);
    height: 64px;
    padding: 12px 19px 12px 24px;
}

.table-header .search-bar-wrapper {
    width: 100%;
    border: 1px solid var(--border-200);
}

.table-header .header-left{
    height: 40px;
    max-width: 543px;
    flex: 3;
}

.table-header .table-title{
  display: inherit;
  align-items: center;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

.table-header .header-right{
    flex: 5;
    padding: 5px;
    /* margin-left: auto; */
}

.table-header .header-right .add-remove-columns-wrapper{
    margin-left: auto;
    height: 25px;
    border: 1px solid var(--border-200);
    padding: 0px 16px;
}

.filter-wrapper{
  height: 25px;
  border: 1px solid var(--border-200);
  padding: 0px 16px;
  cursor: pointer;
  margin-left: 12px;
}

.filter-wrapper img{

}

.filter-modal-container{
  z-index: 101;
  height: 300px;
  width: 400px;
  position: absolute;
  background-color: var(--background-white);
  border: 1px solid var(--border-200);
  padding: 20px;
}

.filter-modal-container img{
  height: 24px;
  width: 24px;
  padding: 4px;
}

.table-header .search-in-columns{
    margin-left: auto;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-infix {
    width: 100%;
}

.table-header .search-in-columns ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none;
}

.table-header ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    /* height: 0px; */
    padding: .6em .75em 0 .75em;
}

.table-header ::ng-deep .mat-form-field-underline {
    display: none;
}

.table-header .header-left .search-bar-wrapper img{
    padding: 12px;
}

.table-header .add-remove-columns-wrapper ::ng-deep .mat-select-value,
.table-header .search-in-columns ::ng-deep .mat-select-value{
    display: none;
}

.table-header .header-right .add-remove-columns-wrapper ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    width: 20px;
}

.search-in-columns ::ng-deep .mat-select-arrow-wrapper {
    width: 20px;
    height: 20px;
    /* background: #eee; */
    border: 1px solid var(--border-100);
}

.search-in-columns ::ng-deep .mat-select-arrow {
    margin-top: 4px;
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/arrow-down.svg);
    background-repeat: no-repeat;
}

.search-in-columns ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 10px 10px !important;
}

.search-in-columns ::ng-deep .mat-select-trigger{
    height: 100% !important;
}

.header-right .add-remove-columns-wrapper ::ng-deep .mat-select-arrow {
    width: 10px !important;
    height: 10px !important;
    border: none !important;
    background-image: url(/assets/icons/columns.svg);
    background-repeat: no-repeat;
}

::ng-deep .mat-option-text{
    font: var(--text-body-2) !important;
    color: var(--text-high-emphasis) !important;
}

::ng-deep .mat-option{
    flex-direction: row-reverse !important;
}

::ng-deep .mat-option:first-child .mat-pseudo-checkbox{
    display: none;
}



table {
  width: 100%;
  max-height: 650px;
}

th.mat-sort-header-sorted {
  color: black;
}

tr {
  display: flex;
}

tr.mat-row:hover{
  background-color: var(--background-grey);
  cursor: pointer;
}

tr.mat-row, tr.mat-footer-row {
  height: 62px;
  padding: 12px 0px;
  align-items: center;
  font: var(--text-body-2);
  color: var(--text-high-emphasis);
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border:none;
}

tr.mat-header-row{
  height: 52px;
  padding: 16px 0px;
  font: var(--text-body-2);
  color: var(--text-low-emphasis);
  border: 1px solid var(--border-100);
  background-color: #f8f8f8;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0px 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
}

.more-wrapper{
  padding: 5px;
  height: 26px;
  width: 26px;
  text-align: center;
  border: 1px solid var(--border-200);
  cursor: pointer;
  margin-left: 12px;
}