<div class="stepper-wrapper">
    <div class="stepper-header-wrapper">
        <ng-container *ngTemplateOutlet="stepsHeader"></ng-container>
        <mat-stepper orientation="vertical" [linear]="false" [selectedIndex]="currentStepperIndex"
            (selectionChange)="selectionChange($event)">
            <mat-step *ngFor="let data of stepperData" [stepControl]="data" state="form">
                <ng-template matStepLabel>{{data.name}}</ng-template>
            </mat-step>
        </mat-stepper>
    </div>
    <ng-container class="stepper-content-wrapper" *ngTemplateOutlet="stepsContent"></ng-container>
</div>